.user-table{
    padding: 3vh;
}
.pagination{
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: static;
}
.action-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-table th{
    text-align: center;
}