.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}
body {
  background-color: #1976d2;
  user-select: none;
}

.image-container img {
    height: 90vh;
  background-color: #1976d2;
}

.image-container {
  margin: auto;
  padding: 0; /* Remove unnecessary padding */
}

.form-container {
    display: flex;
    justify-content: center;
   align-items: center;
   border-radius: 10%;
   margin: 2vh;
  background-color: aliceblue;
}



/*Logo Image*/
.logo-img img{
    height: 4vh;
    width: 24vh;
    padding: 10vh;
  
}
.logo-img{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

/*Responsive*/
/* Media query for smaller screens */
@media (max-width: 768px) {
    .login-container{
        display: flex;
        flex-direction: column;
    }
    .image-container img {
      height: 40vh; /* Adjust the image height for smaller screens */
    }
  
    .form-container {
      padding: 2vh; /* Adjust the form container padding for smaller screens */
      margin: 1vh;
      height: max-content;
      border-radius: 1vh;
      background-color: white;
    }
  
    .logo-img img {
      height: 5vh;
      width: 40vw; /* Set maximum width for the logo image */
      max-height: 6vh; /* Set maximum height for the logo image */
      padding: 3vh;
    }
  }
  
  /*Tablets*/
  @media (min-width: 768px) and (max-width: 1024px) {
    .form-container{
        border-radius: 1%;
    }

  }